# Dependency directories
node_modules/
jspm_packages/
.pnp
.pnp.js

# Next.js build and cache outputs
.next/
out/
dist/
build/
.turbo/

# Testing and Coverage
coverage/

# OS metadata files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment and Local config files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local
*.pem

# Deployment and Cloud host configurations
.vercel

# TypeScript build info
*.tsbuildinfo

# Next.js environment declaration
next-env.d.ts
